<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    .sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    }
  </style>

</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2">
      <h3>Navigation</h3>
      {% block sidebar %}
      <ul class="sidebar-nav">
          <li><a href="{% url 'start_page' %}">Home page</a></li>
          <li><a href="{% url 'upload_page' %}">Upload page</a></li>
      </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">
      {% block content %}

      {% endblock %}
      </div>
    </div>

  </div>
</body>
</html>