{% extends "base_page.html" %}

{% block content %}
<h1>Welcome to video service by Paul</h1>

    <p>There you can upload your videos, get their previews (in picture and gif animation) and get statuses for this operations. Check this out.</p>

    <table border="1px solid black">
        <tr>
            <form action="{% url 'upload_page' %}">
                <input type="submit" value="Upload video">
            </form>
            <form action="{% url 'start_page' %}">
                <input type="submit" value="Update page">
            </form>
        </tr>
    </table>

    <h3>Uploaded videos</h3>

    <table border="1px solid black">

    <tr>
        <th>Номер</th>
        <th>Идентификатор</th>
        <th>Имя файла</th>
        <th>Видео</th>
        <th>Описание</th>
        <th>Загружено</th>
        <th>Статус</th>
        <th>Превью</th>
        <th>Gif-анимация</th>

    </tr>
    {% for video in videos %}

        <tr>
            <td>
                <p>{{ forloop.counter }}</p>
            </td>
            <td>
                <p>{{ video.guid }}</p>
            </td>
            <td>
                <p>{{ video.file }}</p>
            </td>
            <td>
                <a href="{% url 'get_video' video.guid %}">Скачать</a>
            </td>
            <td>
                <p>{{ video.text }}</p>
            </td>
            <td>
                <p>{{ video.date }}</p>
            </td>
            <td>
                <a href="{% url 'status_video' video.task.guid%}">Узнать</a>
            </td>
            <td>
                <a href="{% url 'get_picture' video.guid %}">Скачать</a>
            </td>
            <td>
               <a href="{% url 'get_animation' video.guid %}">Скачать</a>
            </td>
        </tr>
    {% endfor %}

    </table>
{% endblock %}