{% extends "base_page.html" %}

{% block content %}

    <h3>Uploading video</h3>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
            <label for="file">Choose file for upload</label>
            <input name="file" type="file" value="file" accept="video/mp4" required>
            </tr>
            <tr>
            <label for="text">Write text description for your video</label>
            <input name="text" type="text" required>
            </tr>
        </table>

        <input type="submit" value="Upload" />
    </form>
{% endblock %}